.tag-search {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0.1vw 1vw;
    border-bottom: solid 0.12vw #5f5f5f;
    background-color: inherit
}

.tag-search__input {
    border: none;
    background-color: inherit;
    width: 17vw;
    height: 2vw;
    margin-right: 0.6vw;
    color: #2269fa;
    font-size: 1vw;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
}

.tag-search__input:focus {
    outline: none;
}

.tag-search-btn {
    border: none;
    background-color: inherit;
}

.tag-search__img {
    height: 1vw;
}