.drop-down {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4.3vw;
    right: 0;
    background-color: white;
    padding: 0px 1.2vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

.drop-down__btn {
    text-align: left;
    padding: 0.8vw;
    list-style: none;
    text-decoration: none;
    width: 9.3vw;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9vw;
    color: #585858;
    border-bottom: solid 0.1vw #bbbbbb70;;
}

.drop-down__logout {
    text-align: left;
    padding: 0.8vw;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9vw;
    color: #585858;
}