.drop-down {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0px;
    background-color: white;
    padding: 0px 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.drop-down__btn {
    text-align: left;
    padding: 13px;
    list-style: none;
    text-decoration: none;
    width: 150px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #585858;
    border-bottom: solid 1px #bbbbbb70;;
}

.drop-down__logout {
    text-align: left;
    padding: 15px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #585858;
}