.login-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    width: 5.6vw;
    margin: 0;
    color : white;
    background-color: #ff9100;
    border: 1px #ff9100 solid;
    border-radius: 1vw;
}

.login-button:hover{
    transition: all ease-out 0.5s;
    background-color: rgb(196, 116, 24);
    border: 0.1vw rgb(196, 116, 24) solid;
}

.login-button span {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
}