.search{
    position: relative;
    height: 30px;
    width: 0px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    transition: width .5s linear;
}

.search--active {
    width: 250px;
    background-color: #e2e2e2;
    border-radius: 18px;
}

.search-button{
    position: absolute;
    appearance: none;
    height: 50%;
    border: none;
    display: flex;
    align-items: center;
    right: 0;
    z-index: 999;
    background: none;
}

.search-button-img{
    margin-right: 12px;
}

.search-input{
    appearance: none;
    height: 96%;
    width: 80%;
    margin-left: 10px;
    border: none;
    background-color:#f2f2f200;
    border-radius: 16px 0px 0px 16px;
}

.search-input:focus{
    outline: none;
}