.home-official{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7.5vw;
    background-color: #e5edf7;
    width: 100%;
}

.home-official h2{
    color: #1c4961;
    margin: 4vw 0;
    font-size: 1.5vw;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.home-official-container{
    display: grid;
    width: 80%;
    grid-template-columns: 5fr 4fr;
    grid-template-rows: repeat(2, 0.5fr);
    gap: 1.5vw;
}

.home-official-item{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 1.2vw;
    border: solid 0.1vw #eee;
    overflow: hidden;
}

.item-big {
    grid-row: 1 / 3;
}

.home-official-background {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans KR';
    font-style: normal;
    line-height: 1.8;
}

.item-big span {
    width: 60%;
    text-align: center;
    color: white;
    font-size: 1.6vw;
    font-weight: 600;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.item-small span {
    width: 60%;
    text-align: center;
    color: white;
    font-size: 1.2vw;
    font-weight: 500;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.home-official-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-official-item:hover .home-official-background {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.548);
}
