.comment {
    display: flex;
    margin: 1.2vw 0;
}

.comment__img {
    width: 2.8vw;
    height: 2.8vw;
    border-radius: 70%;
    margin-right: 0.3vw;
}

.comment-info {
    flex: 8;
    display: flex;
    flex-direction: column;
    margin-top: 0.2vw;
    margin-left: 0.6vw;
}

.comment-info__writer {
    font-size: 1vw;
}

.comment-info__desc {
    font-size: 0.8vw;
    color: #999;
    margin-top: 0.6vw;
}