.comment-list {
    margin-top: 3vw;
    padding: 4.3vw 0;
    display: flex;
    flex-direction: column;
    margin: 1.2vw 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.comment-list__num {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
}



