.comment-write {
    display: flex;
    margin: 1.2vw 0;
}

.comment-write__img {
    width: 2.8vw;
    height: 2.8vw;
    border-radius: 70%;
    margin-right: 0.3vw;
}

.comment-write__info {
    flex: 8;
    display: flex;
    flex-direction: column;
    margin-top: 0.2vw;
    margin-left: 0.6vw;
}

.comment-write__writer {
    font-size: 1vw;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
}

.comment-write__content {
    display: flex;
    flex-direction: column;
    align-items: end;
    border-radius: 1.2vw;
    border: solid 0.1vw #bbb;
    padding: 1vw;
    margin-top: 0.6vw;
}

.comment-write__input {
    width: 100%;
    height: 3.7vw;
    border: none;
    resize: none;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-size: 0.8vw;
    font-weight: 300;
}

.comment-write__input:focus {
    outline: none;
}

.comment-write__button {
    margin-top: 1.2vw;
    border-radius: 2.4vw;
    border: solid 0.1vw #4e87fb;
    background-color: #fff;
    color: #4e87fb;
    font-size: 0.7vw;
    padding: 0.2vw 1vw;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
}

.comment-write__button:disabled {
    border: solid 0.1vw #bbb;
    color: #bbb;
}