.post-info {
    position: relative;
    margin-top: 3vw;
    padding-bottom: 0.6vw;
    border-bottom: solid 0.1vw #bbb;
    margin-bottom: 1.2vw;
}

.post-info__content {
    display: flex;
    justify-content: space-between;
}

.post-info-left {
    display: flex;
    align-items: center;
}

.post-info-author {
    display: flex;
    align-items: center;
    margin-right: 1.2vw;
    color: #7f7f7f;
    font-size: 1vw;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
}

.post-info-author__img {
    width: 2.5vw;
    height: 2.5vw;
    object-fit: cover;
    border-radius: 70%;
    margin-right: 0.6vw;
}

.post-info__button {
    margin-left: auto;
    border: none;
    background-color: #fff;
}

.post-info__img {
    width: 1.2vw;
}
