.select-box {
    display: flex;
    border: solid 0.1vw #bbb;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 3.1vw;
    margin-right: 1vw;
    z-index: 10;
    animation: fadein 0.5s ease 0s ;
}

.select-box-eidt__button,
.select-box-delete__button {
    border: none;
    width: 9vw;
    padding: 0.76vw;
    font-size: 0.8vw;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
}

.select-box-eidt__button {
    color: #7f7f7f;
    border-bottom: solid 0.1vw #bbb;;
}

.select-box-delete__button {
    color: #f00;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}