.footer {
    display: flex;
    justify-content: center;
}

.footer__box {
    height: 6.7vw;
    width: 90%;
    margin: 2.5vw 0 ;
    padding-left: 3vw;
    display: flex;
    align-items: center;
    background-color: #2269fb;
    color: white;
    border-radius: 1.2vw;
}

.footer__text {
    font-size: 0.8vw;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
}