.my-page{
    display: flex;
    justify-content: center;
}

.my-page h2{
    margin: 30px 0 20px 250px;
    color: white;
}

.my-page__content{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.my-page-wallpaper-color{
    position: absolute;
    top:0;
    z-index: -1;
    height: 18vw;
    width: 100%;
    background-color: #2269fb;
}

