.post-container {
    background-color: white;
    border: 2px solid #f1f1f1;
    border-radius: 1vw;
    height: 15vw;
    display: flex;
    align-items: center;
}

.post-container-none {
    text-align: center;
}

.post-container-big {
    background-color: white;
    border: 0.1vw solid #f1f1f1;
    border-radius: 1vw;
    height: 23vw;
    padding: 1.7vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 1.7vw;
    column-gap: 1.7vw;
    overflow: auto;
    overflow-x: hidden;
}

.post-container-big::-webkit-scrollbar {
    width: 1.2vw;
}

.post-container-big::-webkit-scrollbar-thumb {
    height: 10%;
    background-color: rgba(128, 128, 128, 0.281);
    border-radius: 0.6vw;
    background-clip: padding-box;
    border: 0.3vw solid transparent;
}

