.recent-posts{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2.5vw;
}

.recent-posts-bg {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.recent-posts__title {
    font-size: 1.5vw;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #000000;
    margin: 2vw 0;
}

.recent-posts-box  {
    position: relative;
    z-index: 10;
    width: 75%;
    margin-top: 2vw;
    margin-bottom: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.recent-posts-nav {
    background-color: inherit;
    display: flex;
    border-bottom: solid 0.15vw rgba(0, 0, 0, 0.44);
    align-items: center;
}

.recent-posts__nav-item {
    position: relative;
    top: 0.2vw;
    background-color: inherit;
    padding: 0;
    width: 10vw;
    border: none;
    height: 3vw;
    text-align: center;
    color: #000000;
    opacity: 0.5;
    font-size: 1.1vw;
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.recent-posts__nav-item--active {
    font-weight: 600;
    opacity: 1;
}

.recent-posts__nav-item--active .recent-posts__nav-item-bar {
    width: 100%;
    height: 0.3vw;
    position: absolute;
    bottom: 0;
    background-color: black;
    border-radius: 1vw;
    transition: .6s;
}
