.post-box {
    display: flex;
    border-top: solid 0.1vw #eee;
    border-bottom: solid 0.1vw #eee;
    align-items: center;
    font-family: 'Noto Sans KR';
    font-style: normal;
}

.post-box__img {
    width: 12vw;
    height: 12vw;
    border-radius: 1vw;
    background-color: #4e4e4e;
}

.post-box-info {
    display: flex;
    flex-direction: column;
    flex: 7;
    padding: 2.8vw 2.5vw;
}

.post-box-info-top {
    display: flex;
    align-items: center;
    height: 1.8vw;
}

.post-box-info-tag {
    margin-top: 0.1vw;
    font-size: 0.7vw;
}

.post-box-info__title {
    font-weight: 700;
    font-size: 1.1vw;
    margin-right: 1.2vw;
    max-width: 50%;
    color: #000;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.post-box-info__content {
    margin: 1vw 0;
    display: flex;
    align-items: flex-start;
    width: 80%;
    height: 4.3vw;
    font-weight: 400;
    font-size: 0.9vw;
    color: rgba(0,0,0,0.7);
    line-height: 1.6;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.post-box-info-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-box-info-details{
    display: flex;
}

.post-box-info-author {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 0.9vw;
    color: #7f7f7f;
}

.post-box-info-author__img{
    width: 2vw;
    height: 2vw;
    border-radius: 70%;
    margin-left: 0.6vw;
}
