.post-details {
    display: flex;
    align-items: center;
    color: #7f7f7f;
    font-size: 0.9vw;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
}

.post-details__img {
    height: 0.7vw;
    margin-top: 0.2vw;
    margin-right: 0.6vw;
}

.post-details__bar {
    height: 0.8vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 0.1vw;
}
