.tags {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
}

.tag {
    display: inline-block;
    border-radius: 1vw;
    color: #fff;
    background-color: #96b3ed;
    padding: 0.2vw 1.2vw;
    margin-right: 0.6vw;
    margin-bottom: 0.5vw;
}