.hashtag-input-container{
    display: flex;
    height: 63%;
    width: 99%;
    border: 0.1vw solid #d3d3d3;
}

.hashtag-element{
    margin-left: 0.3vw;
    color: #4e87fb;
    background-color: white;
    border: none;
    transition: all 0.125s ease-in 0s;
    animation: 0.125s ease-in-out 0s 1 normal forwards;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-style: normal;
    font-size: 0.9vw;
}

.hashtag-input{
    border:none;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-style: normal;
    padding-left: 0.9vw;
    padding-right: 0.9vw;
    font-size: 0.9vw;
}

.hashtag-input:focus{
    border:none;
    outline: none;  
}

