.title-input-container{
    display: flex;
    height: 63%;
    width: 99%;
    border: 0.1vw solid #d3d3d3;
}
.title-input{
    border: none;
    width: 100%;
    padding-left: 0.9vw;
    padding-right: 0.9vw;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-style: normal;
    font-size: 0.9vw;
}

.title-input:focus{
    outline: none;
}