.write{
    margin: auto;
    width: 80%;
}

.write-title{
    color: #4e87fb;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2vw;
}

.write__grid{
    display: grid;
    align-items: center;
    grid-template-rows: 4vw minmax(4vw, auto) minmax(4vw, auto) 48vh;
    grid-template-columns: 20% 80%;
    row-gap: 0.1vw;
}

.write-item{
    display: flex;
    padding-left: 1.2vw;
    background-color: #f7f9fc;
    text-align: left;
    align-items: center;
    height: 100%;
    border-bottom: 0.1vw solid #d5d5d5;
    font-weight: 500;
    font-size: 0.9vw;
}

.write-item span{
    color: red;
}

.write-item__select{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
    border-bottom: 0.1vw solid #d5d5d5;
}

.write-item__input{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
    border-bottom: 0.1vw solid #d5d5d5;
}

.write-editor{
    height: 100%;
    position: relative;
    top: -0.1vw;
}

.write-button__container{
    display: flex;
    justify-content: right;
    margin-top: 1.2vw;  
    padding-bottom: 6vw; 
}

.write-error-msg {
    height: 2.5vw;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8vw;
    margin: 0.3vw 0.9vw;
    line-height: 2.5vw;
    color: red;
}

.write-submit__button{
    background-color: #4e87fb;
    color: white;
    margin: 0.3vw;
    border: none;
    border-radius: 0.3vw;
    height: 2.5vw;
    width: 7vw;
    cursor: pointer;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
}

.write-cancel__button{
    background-color: #d2d2d2;
    color: black;
    border: none;
    margin: 0.3vw;
    border-radius: 0.3vw;
    height: 2.5vw;
    width: 7vw;
    cursor: pointer;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
}
