.write{
    margin: auto;
    width: 80%;
    font-family: 'Noto Sans KR';
    font-style: normal;
}

.write-title{
    color: #4e87fb;
    font-weight: 500;
}

.write__grid{
    display: grid;
    align-items: center;
    grid-template-rows: 8vh 8vh 8vh 70vh;
    grid-template-columns: 20% 80%;
    row-gap: 2px;
}

.write-item{
    display: flex;
    padding-left: 20px;
    background-color: #f2f2f2;
    text-align: left;
    align-items: center;
    height: 100%;
    border-bottom: 2px solid #d5d5d5;
    font-weight: 500;
}

.write-item span{
    color: red;
}

.write-item__select{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
    border-bottom: 2px solid #d5d5d5;
   
}
.write-item__input{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
    border-bottom: 2px solid #d5d5d5;

}

.write-editor{
    height: 100%;
    position: relative;
    top: -2px;
}

.write-button__container{
    display: flex;
    justify-content: right;
    margin-top: 20px;  
}

.write-submit__button{
    background-color: #4e87fb;
    color: white;
    margin: 5px;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 114px;
    cursor: pointer;
    margin-bottom: 100px; 
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.write-cancel__button{
    background-color: #d2d2d2;
    color: black;
    border: none;
    margin: 5px;
    border-radius: 5px;
    height: 40px;
    width: 114px;
    cursor: pointer;
    margin-bottom: 100px; 
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}
