.role-select-box {
    margin-right: 0.4vw;
    margin-left: 0.4vw;
    position: relative;
}

.role-select-box__current {
    width: 8vw;
    height: 2vw;
    border-radius: 0.4vw;
    border: solid 0.1vw #8f8f8f;
    font-size: 0.8vw;
    color: #7a7a7a;
    background-color: inherit;
    padding: 0 0.6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.role-select-box__img {
    width: 0.7vw;
    height: 0.5vw;
}

.role-select-box__list {
    display: none;
    width: 8vw;
    position: absolute;
    top: 1.5vw;
    background-color: #fff;
    border-radius: 0.4vw;
    border: solid 0.1vw #8f8f8f;
    font-size: 0.8vw;
    color: #7a7a7a;
}

.role-select-box__list--open {
    display: block;
}

.role-select-box__item {
    height: 2vw;
    display: flex;
    align-items: center;
    padding-left: 0.6vw;
    cursor: pointer;
}

.hidden {
    display: none;
}