.sidebar-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 0.9vw;
    padding: 0.9vw 1.2vw;
    margin-top: 0.7vw;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
}

.sidebar-item__name {
    font-size: 0.9vw;
    font-weight: 500;
    color: #292929;
}
.sidebar-item-right {
    display: flex;
    align-items: center;
}

.sidebar-item-right__img {
    width: 1vw;
    margin-right: 0.1vw;
}

.sidebar-item-right__num {
    font-size: 0.8vw;
    font-weight: 500;
    color: #000;
    opacity: 0.5;
}

.sidebar-item--selected {
    background-color: #2269fa;
}

.sidebar-item--selected .sidebar-item__name {
    color: #fff;
}