.userinfo {
    width: 90%;
    margin: 3.1vw auto 0 auto;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
}

.userinfo-top {
    display: flex;
    margin-bottom: 1.8vw;
}

.userinfo__img {
    width: 100px;
    margin-right: 1.8vw;
}

.userinfo-spec {
    display: flex;
    flex-direction: column;
    color: #444;
    line-height: 1.5;
}

.userinfo__name {
    font-size: 1.1vw;
    font-weight: 700;
}

.userinfo-delete__button {
    height: 1.8vw;
    width: 5.3vw;
    margin-top: auto;
    margin-left: auto;
    border: none;
    border-radius: 0.3vw;
    background-color: #d2d2d2;
    font-size: 0.7vw;
    font-weight: 500;
}