.userlist {
    width: 90%;
    margin: 1.8vw auto;
    font-family: 'Noto Sans KR';
    font-style: normal;
}

.userlist-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userlist__title{
    font-weight: 700;
    font-size: 1.2vw;
}

.userlist-edit {
    display: flex;
    align-items: center;
}

.userlist-edit__button {
    height: 1.8vw;
    width: 5vw;
    border: none;
    border-radius: 0.3vw;
    background-color: #2269fa;
    margin-left: 0.6vw;
    font-size: 0.7vw;
    font-weight: 500;
    color: #fff;
}

.userlist-text {
    font-size: 0.8vw;
    font-weight: 500;
    color: #8f8f8f;
}

.userlist-text--blue {
    font-weight: 700;
    color: #2269fa;
}

.userlist-setting {
    position: relative;
}

.userlist-setting-btn {
    border: none;
    background-color: inherit;
}

.userlist-setting-btn__img {
    margin-top: 0.3vw;
    width: 0.8vw;
}

.userlist-setting-box {
    display: none;
}

.userlist-setting-btn:hover + .userlist-setting-box {
    display:block;
}

.userlist-setting-box:hover {
    display: block;
}

