.user-search {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 0.9vw;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 3vw;
}

.user-search__input {
    border: none;
    font-size: 1vw;
    width: 85%;
    margin-top: 0.2vw;
}

.user-search__input:focus {
    outline: none;
}

.user-search__img {
    height: 1vw;
    margin-right: 0.5vw;
}