.official {
}

.official-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2vw;
}

.official-pagination__button {
    width: 0.4vw;
    height: 0.4vw;
    border: none;
    border-radius: 50%;
    background-color: #2269fb;
    opacity: 0.2;
    padding: 0;
    margin: 0 0.3vw;
}

.official-pagination__button--current {
    width: 0.6vw;
    height: 0.6vw;
    opacity: 1;
}

.slick-list {
    border-radius: 1vw;
    overflow: hidden;
    box-shadow: 0 0 0.4vw 0 rgba(0, 0, 0, 0.16);
}

.slick-arrow {
    display: none !important;
}

.slick-dots {
    bottom: -2.5vw;
}

.slick-dots li {
    width: 1vw;
    height: 1vw;
    margin: 0 0.3vw;
}

.slick-dots li button {
    width: 1vw;
    height: 1vw;
    padding: 0.3vw
}

.slick-dots li button:before {
    width: 1vw;
    height: 1vw;
}


