.official {
}

.slick-list {
    border-radius: 1vw;
    overflow: hidden;
    box-shadow: 0 0 0.4vw 0 rgba(0, 0, 0, 0.16);
}

.slick-slide {
    opacity: 0;
}

.slick-active, .slick-cloned {
    opacity: 1;
}

.slick-arrow {
    display: none !important;
}

.slick-dots {
    bottom: -2.5vw;
}

.official-slider-dots {
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 50%;
    background-color: #000000;
    opacity: 0.2;
    margin-top: 0.05vw;
}

.slick-active .official-slider-dots {
    width: 0.6vw;
    height: 0.6vw;
    background-color: #2269fb;
    opacity: 1;
    margin-top: 0;
}

.slick-dots li {
    width: 0.8vw;
    height: 0.8vw;
}