.bottom-banner {
    display: flex;
    justify-content: center;
    padding: 6.2vw;
    background-color: #e5edf7;
}

.bottom-banner-box {
    width: 85%;
    display: flex;
    border-radius: 0.6vw;
    background-image: url('./img/econo_direct_bg.webp');
    background-size: cover;
    padding: 3.7vw;
}

.bottom-banner__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-banner__big-text {
    font-size: 2vw;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin: 0.3vw 0;
}

.bottom-banner__small-text {
    font-size: 0.9vw;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    line-height: 1.7;
    color: white;
    margin-bottom: 0.6vw;
}

.bottom-banner__img {
    width: 35%;
    object-fit: cover;
    margin-right: 4vw;
}

.bottom-banner-link{
    width: 70%;
    height: 3.2vw;
    text-decoration: none;
    border-radius: 2.2vw;
    background-color: white;
    color: #0076ff;
    margin-top: 1.2vw;
    padding: 0px 1.2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9vw;
}

.bottom-banner-link__img {
    height: 0.9vw;
}
